<div id="bg"></div>

<header>
  <a href="#">PIT On-Line Help</a>
</header>

<main>
<section id="card">
  <ul>
    <li>
      <span></span>
      <strong>How may we help you?</strong>
    </li>
    <li>
      <span></span>
      <strong>Utilize the icons for drag and drop.</strong>
    </li>
    <li>
      <span></span>
      <strong>Take advantage of the in-line editing.</strong>
    </li>
  </ul>
</section>

  <!-- note filtering and sorting are enabled-->
  <!-- async pipe added to allow for data display-->
  <div class="box">
  <ag-grid-angular 
  #agGrid
  style="width: 1100px; height: 500px;" 
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData | async"
  rowSelection="multiple"
  [rowDragManaged]="true"
  [enableColResize]="true"
  [defaultColDef]="defaultColDef"
  >
  </ag-grid-angular>
</div>


<button (click)="getSelectedRows()">Get Selected Rows</button>

</main>


